<!--контейнер для шапки-->
<div class="header-container">

<!--контейнер для контента шапки-->
<div class="header-wrapper">
<!--блок с адресом и ссылкой на карту-->
    {% for header_adress_item in header_contacts %}
    {% if header_adress_item.title == 'адрес'%}
    <div class="header_adress_item">{{header_adress_item.annotations1|safe}}
        <span class="header_adress_link">{{header_adress_item.annotations2|safe}}</span>
    </div>
    {% endif %}
    {% endfor %}
<!-- конец блок с адресом и ссылкой на карту-->

<!--блок с логотипом-->
<div class="header-logo-wrapper">
    {% for header_item in header %}
    {% if header_item.title == 'логотип'%}
    <div class="header_item"><img class="header-image" src="{{header_item.image.url}}" alt="{{header_item.title}}"/></div>
    <span class="header-logo-annotation">{{header_item.annotations3}}</span>
</div>

    {% endif %}
    {% endfor %}
<!--конец блок с логотипом--> 

<!-- блок с контактами--> 
<div class="header-contacts-wrapper">
{% for header_contacts_item in header_contacts %}
{% if header_contacts_item.title != 'адрес'%}
{% if header_contacts_item.title != 'режим работы'%}
<div class="header-contacts-item">
    <img class="header-contacts-image" src="{{header_contacts_item.image.url}}" alt="{{header_contacts_item.title}}"/>
    <span class="header-contacts-text">{{header_contacts_item.annotations1|safe}}</span>
</div>
{% endif %}
{% endif %}
{% endfor %}
</div>
<!-- конец блок с контактами--> 


<!-- <div class="header-links-wrapper">
    {% for header_item in header %}
    {% if header_item.title == 'ссылка на фотоуслуги'%}
    <div class="header-link-item"><img class="header-image" src="{{header_item.image.url}}" alt="{{header_item.title}}"/></div>
    {% endif %}
    {% endfor %}
    {% for header_item in header %}
    {% if header_item.title == 'ссылка на фотосувениры'%}
    <div class="header-link-item"><img class="header-image" src="{{header_item.image.url}}" alt="{{header_item.title}}"/></div>
    {% endif %}
    {% endfor %}
</div> -->

  
</div>
<!-- конец контейнер для контента шапки-->
</div>
<!-- конец контейнер для шапки-->
